toml==0.10.2
SQLAlchemy==2.0.36
streamlit==1.39.0
scikit-learn==1.5.0
scipy==1.14.1
seaborn==0.13.2
pytest==8.3.3
matplotlib==3.8.4
pandas==2.2.2
numpy==1.26.4
flake8==7.1.1
coverage==7.6.4
pydocstyle==6.3.0